.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-768 {
    padding-top: 40px;
  }

  @include vp-1440 {
    padding-top: 100px;
    padding-bottom: 32px
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer__contacts-title {
  @include margin-reset;
  @include font-setting(22px, 22px);
  font-weight: 800;
  position: relative;
  margin: 0 auto;

  &::after {
    content: attr(data-title);
    @include font-setting(26px, 26px);
    position: absolute;
    font-weight: 800;
    color: $color-black-3;
    top: -14px;
    left: 14px;
  }

  @include vp-768 {
    @include font-setting(35px, 35px);
  }
}

.footer__contacts-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer__contacts-text p{
  @include margin-reset;
  @include font-setting (14px, 20px);

  @include vp-768 {
    @include font-setting (16px, 24px);
  }
}

.footer__contacts-list {
  @include list-style-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer__contacts-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  padding-left: 32px;

  &--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url("/__spritemap#sprite-tel-view");
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 50% 50%;
    }
  }

  &--mail {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url("/__spritemap#sprite-mail-view");
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 50% 50%;
    }
  }

  &--address {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url("/__spritemap#sprite-point-view");
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 50% 50%;
    }
  }
}

.footer__contacts-item-title {
  @include margin-reset;
  @include font-setting (14px, 14px);
  font-weight: 600;
}

.footer__contacts-item-content {
  @include font-setting (14px, 20px);

  &--address {
    font-style: normal;
    width: 170px;
  }
}

.footer__contacts-map img{
  @include centering;
  height: 100%;
  background-color: $color-default-img-background;
  object-fit: cover;
}

.footer__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 23px;
  padding-top: 43px;
}

.footer__footer-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 23px;
}
