// Viewports
// ---------------------------------
$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;


$ff-placeholder: "Montserrat", "Arial", sans-serif;
$fz-default: 14px;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;


// Colors
// ---------------------------------

// Default
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-default-img-background: #6fb5f4;

// Primary
$color-primary-blue: #0266c1;
$color-primary-grey: #999999;
$color-primary-black: #2d383f;


// Alt
$color-alt-blue: #1c3374;
$color-white-50: rgba(255, 255,255, 0.5);
$color-white-10: rgba(255, 255,255, 0.1);
$color-blue-10: rgba(2, 102, 193, 0.1);
$color-black-3: rgba(45, 56,63, 0.03);
$color-black-60: rgba(45, 56,63, 0.6); //overlay
